.vscode
.DS_Store
/work
.test/
.coverage/
.reports/
/node_modules
*.configbean
/pids
/log
.cache
.beans
.logs
.shots
.yarn-cache/
.npm/
.nvm/
/build-ebay/
/static
*.marko.js
*.dust.js
*.log
.telemetry.json
restarts_*
.idea
.nyc_output
allure-results
tmpnpm

*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.orig
.nyc_output
work
build
test
pids
logs
results
coverage
lib-cov
html-report
xunit.xml

.project
.idea
.settings
.iml
.beans
.cache
*.sublime-workspace
*.sublime-project
ehthumbs.db
Icon?
Thumbs.db
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes